<!-- <h1>BY TWO WAY BINDING</h1> -->
<div class="container">
    
    <button (click)="clickme()">click me</button>


    <br><br>
    <!-- <input type="text"  [(ngModel)]="child"> -->
    <p>{{child}}</p>
  
</div>
<hr>


<!-- <button (click)=" GetUserData()">Click Here To Get User Data</button> -->

<div class="container">
    <h1>services angular</h1>
    <div class="container">
        <ul *ngFor="let item of value">
            <li>{{item.name}}--------{{item.email}}</li>
        </ul>
    </div>

</div>